﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

     <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="title-th">
                            <th>
                                Repo                       
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model){
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item)
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>